In [8]:
import pandas as pd
pd

In [9]:
tempDict ={
    'Name':['John', 'Mike','Robert'],
    'Designation':['SW Eng', 'Video Editor', 'Accountant'],
    'salary':[10000, 20000, 30000]
}

In [10]:
dictDf = pd.DataFrame.from_dict(tempDict)
dictDf

     Name   Designation  salary
0    John        SW Eng   10000
1    Mike  Video Editor   20000
2  Robert    Accountant   30000

In [11]:
dictDf.head(1)

   Name Designation  salary
0  John      SW Eng   10000